################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Firmware/.vs/Firmware/v14
/Firmware/Doc/html/search
/Firmware/Doc/html
/Firmware/Doc/latex
/Firmware/__vm
/html
/latex
/Doxyfile
/Firmware/Configuration_prusa.h
/Firmware/Marlin_main.cpp~RF12cfae7.TMP
/Firmware/Firmware.vcxproj.filters
/Firmware/Firmware.vcxproj
/Firmware/Firmware.sln
/Firmware/Firmware - Shortcut.lnk
.settings
.project
.cproject
Debug
Firmware/Configuration_prusa.h
Firmware/Doc
/Firmware/.vs/Firmware/v14/.suo
/Firmware/Firmware.sln
/Firmware/Firmware.vcxproj
/Firmware/Firmware.vcxproj.filters
/Firmware/__vm
build-env
/lang/*.bin
/lang/*.hex
/lang/*.dat
/lang/*.tmp
/lang/*.out
/lang/not_tran.txt
/lang/not_used.txt
/lang/progmem1.chr
/lang/progmem1.lss
/lang/progmem1.txt
/lang/progmem1.var
/lang/text.sym
/lang/textaddr.txt
